<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/Header.css">
    <title>Header</title>
</head>
<body>

<div class="Header-btn">
<button onclick="location.href='/'">Index</button>
<button onclick="location.href='/Projects'">Projets</button>
<button onclick="location.href='/Portfolio'">Portfolio</button>
</div>


</body>
</html>