<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
       <link rel="stylesheet" href="/Style/Portfolio.css" />

</head>
<body>
    {% include "./partials/header.njk" %}
    
    <section class="left">
        {% block left %}{% endblock %}
    </section>
    
    <main>
  {% block content %}{% endblock %}
    </main>

    <section class="right">
        {% block right %}{% endblock %}
    </section>

    {% include "./partials/footer.njk" %}
</body>
</html>
