{% extends "./Layout.njk" %}

{% block title %}Mon Parcours{% endblock %}

{% block content %}
  <h1>Mon Parcours</h1>

  <section>
    <h2>Lycée</h2>
    <p>
      J'ai effectué ma scolarité au lycée Xavier Mallet pendant trois ans, où j'ai obtenu mon baccalauréat avec une spécialisation en Mathématiques et Anglais.
    </p>
  </section>

  <section>
    <h2>Études Supérieures</h2>
    <p>
      Après le bac, j'ai intégré le BUT Informatique de l'IUT du Puy-en-Velay, rattaché à l'Université Clermont Auvergne. J'y poursuis actuellement mes études en informatique, avec une diplomation prévue en 2026.
    </p>
  </section>
{% endblock %}
