{% extends "./Layout.njk" %}

{% block title %}Mon Parcours{% endblock %}

{% block content %}
  <h1>Mon Parcours</h1>

  <section>
    <h2>Lycée</h2>
    <p>
      J'ai effectué ma scolarité au lycée Xavier Mallet, où j’ai suivi un parcours axé sur les Mathématiques et l’Anglais. 
      Cette double spécialisation m’a permis d’acquérir une solide rigueur scientifique ainsi qu’une ouverture à l’international. 
      J’y ai obtenu mon baccalauréat en 2022.
    </p>
  </section>

  <section>
    <h2>Études Supérieures</h2>
    <p>
      Après l’obtention de mon baccalauréat, j’ai intégré le B.U.T. Informatique de l’IUT du Puy-en-Velay, rattaché à l’Université Clermont Auvergne. 
      Ce cursus m’offre une formation polyvalente mêlant programmation, bases de données, systèmes, réseaux et gestion de projets. 
      J'y développe des compétences pratiques en informatique à travers des projets concrets, tout en consolidant ma compréhension théorique.
      La diplomation est prévue en 2026.
    </p>
  </section>

  <section>
    <h2>Stage et autres expériences</h2>
    <p>
      Actuellement, je réalise un stage à l’Institut Pascale dans le cadre de ma deuxième année de B.U.T. 
      Je participe à un projet innovant impliquant la conception d’un dispositif d’imagerie scientifique. 
      Mes missions couvrent plusieurs aspects :
    </p>
    <ul>
      <li>Montage et assemblage de composants matériels (hardware)</li>
      <li>Modélisation et adaptation de pièces mécaniques en 3D</li>
      <li>Développement logiciel en Python, Flask et C++</li>
      <li>Réécriture, mise à jour et adaptation de bibliothèques existantes</li>
      <li>Entraînement d’un modèle d’intelligence artificielle pour la détection d’organismes dans des images scientifiques</li>
    </ul>
    <p>
      Ce stage me permet de mettre en pratique mes compétences en informatique tout en découvrant un environnement de recherche pluridisciplinaire.
    </p>
  </section>

  <section>
  <h2>Mon CV</h2>
  <p>
    Vous pouvez consulter ou télécharger mon CV ici :
    <a href="/CV_Mohamed.pdf" target="_blank" download>Télécharger mon CV</a>
  </p>
</section>

{% endblock %}
